.grid {
  margin-left: -15px;
  width: 1120px ;
  list-style: none;
  margin: 0;
  margin-left: -15px;
  padding: 0;
}
.grid li {
  display: block;
  float: left;
  width: 25%;
  padding: 0 15px;
}
.grid li img {
  display: inline-block;
  outline: none;
  border: none;
  max-width: 100%;
}

.grid-load-more {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1199px) {
  .grid {
    width: 930px;
  }
  .grid li {
    width: 33.33333%;
  }
}
@media only screen and (max-width: 991px) {
  .grid {
    width: 700px;
  }
  .grid li {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .grid {
    width: 460px;
  }
  .grid li {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .grid {
    width: 300px;
  }
}
