.order-section .order-form_section {
  width: 50%;
  width: calc(50% - 20px);
  float: left;
  border-top: 1px solid #e6e6e6;
  padding: 35px 0;
}

.order-section .order-form_section:nth-child(2n) {
  margin-left: 40px;
  clear: right;
}
.order-section .order-form_section:nth-child(2n+1) {
  clear: left;
}

.order-section .order-form_section .order-form_title {
  font-size: 18px;
  color: #000;
  font-family: 'ProximaNova Bold';
  margin-bottom: 10px;
}

.order-section .order-form_section .filter-name {
  display: inline-block;
  color: #383a73;
  font-size: 14px;
  font-family: 'ProximaNova Light';
  margin-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.3;
  cursor: pointer;
}

.order-section .order-form_section .filter-name:hover {
  font-family: 'ProximaNova Bold';
}

.order-section .order-form_section .input-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 335px;
}

.order-section .order-form_section .input-wrap:last-of-type {
  margin-bottom: 0;
}

.order-section .order-form_section .address-textarea {
  height: 72px;
}

.order-section .order-form_section.section-comment {
  float: none;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.order-form_section.section-comment .textarea-wrap {
  margin-top: 15px;
}

.order-form_section.section-comment .textarea {
  height: 98px;
}

.order-form .agree {
  float: right;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .order-section .order-form_section .input-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .order-section .order-form_section {
    float: none;
    width: 100%;
  }

  .order-section .order-form_section:nth-child(2n) {
    clear: none;
    margin-left: 0;
  }
}

